body{
    background-color: rgb(133, 156, 156);
}


h3{
    display: flex;
    justify-content: center;
}

.view3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
      background-color: rgb(105, 222, 222);
    
}
.view3 #myform{
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
    
}
.view3 input{
    padding: 5px;

}
.view3 button{
    position: relative;
    left: 110px;
    width: 70px;;
}

.view2{
    margin-top: 50px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
      background-color: rgb(105, 222, 222);
}

.view2 #myform2{
     margin: 10px;
    gap: 10px;
     display: flex;
     flex-direction: column;
    
}
.view2 input{
    padding: 5px;
}

