*{
    box-sizing: border-box;
    font-family: "segoe UI" , Arial,  sans-serif;
}

body{
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #141e30 ,#243b55) ;

}
.box{
    width: 340px;
    padding: 30px 25px;
    background: white;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.25);
    text-align: center;
    transition: 0.3 ease;
}
.box:hover{
    transform: translatex(-5px);
}
h2{
    margin-bottom: 25px;
    color: #222;
}
input{
    width: 100%;
    padding: 12px 14px;
    border-radius: 8px;
    font-size: 15px;
    margin-bottom: 15px;
    outline: none;
    transition: 0.9s ease;
    
}
input:focus {
    border-color : #000;
    box-shadow: 1 0 0 2px rgba(0,0, 0, 0.1);

}

button{
    width: 100%;;
    padding: 12px;
    border-radius: 5px;
    border: none;
}
button:hover{
    background-color: #afaac0;
}